.button {
  border: none;
  color: white;
  background-color: $blue;
  padding: $s-size;
  font-size: 1.8rem;
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
}

.button--secondary {
  @extend .button;
  background: #888;
}
